<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>VueFlix</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="container-fluid">

  <div id="vue-flix">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>FIND YOUR FLIX</h1>
      </div>
      <div class="panel-body">
        <button @click="reset">RESET EVERYTING</button>
        <form @submit.prevent="search">
          <select v-model="category">
            <option value="actor">Actor</option>
            <option value="director">Director</option>
            <option value="title">Title</option>
          </select>
          <input type="text" v-model="query" />
          <button type="submit">FIND</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

      </div>
      <div class="row">
        <div class="col-sm-8" v-if="movies.length > 0">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>RESULTS</h3>
              <p>Now Viewing result for {{query}}</p>
            </div>
            <div>
              <div class="panel-body">
                <div v-if="details.show_title">
                  <movie-details :detail="details"></movie-details>
                  <button @click="clearDetails">BACK</button>
                  <div v-if="!details.isOnWatchlist">
                    <button @click="addToWatchlist(details)">Add to Watchlist</button>
                  </div>
                  <div v-if="details.isOnWatchlist">
                    <button @click="removeFromWatchlist(details)">Remove from Watchlist</button>
                  </div>
                </div>

              </div>
              <ul class="list-group" v-if="!details.show_title">
                <li class="list-group-item" v-for="movie in movies">
                  <img :src="movie.poster" height="150" @click="setDetails(movie)">
                  <h4>{{movie.show_title}}</h4>
                  <button @click="addToWatchlist(movie)">Add to Watchlist</button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4" v-if="myMovies.length > 0">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>MY WATCHLIST</h3>
              <p>Now Viewing watchlist. Current faves: {{myMovies.length}}</p>
              <ul class="list-group">
                <li class="list-group-item" v-for="movie in myMovies">
                  <img :src="movie.poster" height="150" @click="setDetails(movie)">
                  <h4>{{movie.show_title}}</h4>
                  <button @click="removeFromWatchlist(movie)">Remove from Watchlist</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--LOAD LIBRARIES-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>

  <!--SERVICES-->
  <script src="app/services/flix-services.js"></script>
  <script src="app/main.js"></script>


</body>

</html>